
body {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4f9ee8; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
  text-align: center;
  color: #c7d255;
  font-weight: 600;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #152e47;
  font-size: 14px;
}

p a {
    text-decoration: none;
    color: green;
}

input {
    width: 100%;
    margin-bottom: 20%;
    border-radius: 10px;
}

button {
    background-color: #c7d255;
    color: #152e47;
    border: none;
}

button:hover {
    background-color: #152e47;
    color:#c7d255;
    cursor: pointer;
}