body {
    margin: 0;
    padding: 0;
    background-color: #4f9ee8; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
  text-align: center;
  color: #2c3e50;
  font-weight: 600;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #34495e;
  font-size: 14px;
}